[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "third-party/benchmark"]
	path = third-party/benchmark
	url = git@github.com:google/benchmark.git
[submodule "third-party/asio"]
	path = third-party/asio
	url = git@github.com:chriskohlhoff/asio.git
